@model S00132671CA2.Models.CastList



<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">

            <div class="container">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-lg-4">

                                @Html.HiddenFor(model => model.MovieId)

                                @Html.HiddenFor(model => model.ActorId)



                                <div class="form-group">

                                    @Html.LabelFor(model => model.CastName)
                                    @Html.TextBoxFor(model => model.CastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CastName, "", new { @class = "text-danger" })
                                </div>

                                <p>
                                    <input class="btn btn-sm btn-success form-control" type="submit" value="Save" />
                                </p>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

