@model IPagedList<S00132671CA2.Models.Actor>

@Html.Partial("_Actors", Model)


<div class="modal fade" id="HelperModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class=" col-xs-12 col-sm-4" id="Placement">

    </div>
</div>


@section scripts {
    <script>

        $(document).ready(function () {
            var my = '@ViewBag.message'

            switch (my) {
                case "Success":
                    toastr.success('Thanks for adding @ViewBag.ActorName to the site!');
                case "Warning":
                    toastr.error('That is not the page you are looking for Luke');
                    break;
                case "Gone":
                    toastr.info('The Force is Strong in you');

            }

        });

    
    function createActor() {
        $('#Placement').load('@Url.Action("Create", "Actor")').show();
        $('#HelperModal').modal('show');
    }

        function createMovie() {
            $('#Placement').load('@Url.Action("Create","Home")').show();
            $('#HelperModal').modal('show');
        }

    </script>
}


